@model IEnumerable<Product>

<div class="row">

    @foreach (var item in Model)
    {
        var Price50 = item.Price + item.Price * .5;
        <div class="col-12 col-lg-6 col-xl-4 col-xxl-4">
            <div class="card mb-3 text-white bg-success">
                <h3 class="card-header">Product id : @item.Id</h3>

                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>

                <img src="@item.ImageUrl" />

                <div class="card-body">
                    <div class="pl-1">
                        <p>List Price: <strike><b>$@Price50.ToString("0.00")</b></strike></p>
                    </div>
                    <div class="pl-1">
                        <p>As low as: <b>$@item.Price.ToString("0.00")</b></p>
                    </div>
                </div>

                <div class="card-body">
                    <a asp-action="Details" asp-route-Id="@item.Id" class="card-link btn btn-primary w-100">Detail</a>
                </div>

            </div>
        </div>

    }

</div>